body {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.clicked {
  border-color: blue;
}

.hidden {
  display: none!important;
}

#donation-page {
  border: 1px solid;
  margin: 4%;
  text-align: center;
}

p {
  font-size: 1.5em;
}

button {
  width: 12em;
  height: 4em;
  border-radius: 1em;
  margin: 2em;
  font-size: 1em;
}

button:disabled {
  background: #ccc;
}

label {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

input {
  margin: auto;
  margin-top: 1em;
  width: 20em;
  height: 2.5em;
  border-radius: 1em;
}

@media (min-width: 600px) {
  #donation-page {
    margin: 8%;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  #donation-type {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2,auto);
    padding: 2em;

  }
  
  p:first-of-type {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-top: 5em;
  }
  
  p:nth-of-type(2), #donation-type button  {
    grid-column: 2 / 3;
    justify-self: center;
  }

  #cash-donor {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
